name: Repo Sync

on:
  schedule:
  - cron:  "2/13 * * * *"
  issues:
    types: [closed]
  

jobs:
  repo-sync:
    name: Repo Sync
    runs-on: ubuntu-latest
    env:
      GIT_SSH_COMMAND: "ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa"
    steps:
    - uses: actions/checkout@v2
    - name: setup ssh key
      run: |
        mkdir -p  ~/.ssh
        echo "$SSH_KEY" > ~/.ssh/id_rsa
        chmod 600  ~/.ssh/id_rsa
        echo $HOME
        echo $GITHUB_WORKSPACE
      shell: bash
      env:
        SSH_KEY: ${{secrets.SSH_PRIVATE_KEY}}
    - name: Get current time
      uses: gerred/actions/current-time@master
      id: current-time
    - name: Clone from target repo
      run: |
        git clone --mirror git@github.com:KusakabeSi/dn42-registry.git ~/work/the_repo
    - name: Pull from source repo
      run: |
        cd  ~/work/the_repo
        git remote add --mirror=fetch dn42 https://${{secrets.DN42_GIT_TOKEN}}@git.dn42.dev/dn42/registry.git
        git fetch dn42 '+refs/heads/*:refs/heads/*' '+refs/tags/*:refs/tags/*'
      shell: bash
    - name: Push back to target repo
      run: |
        cd  ~/work/the_repo
        git push -f  --mirror origin
      shell: bash
    - name: wrtie something to prevent this action inactive
      run: |
        echo $(date +%Y-%m-%d) > $GITHUB_WORKSPACE/sync
      shell: bash
    - name: Commit & Push changes
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
        force: true
        author_email: si@kskb.eu.org
        author_name: KusakabeSi
        message: sync at ${{ steps.current-time.outputs.time }}
